<div id="footer" class="panel" xmlns="http://www.w3.org/1999/html">
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <p>&copy Xgroup 2022. Site modified from <a href="allanlab.org">allanlab</a>;</br> </p>
                    <p>We are part of the <a href="http://www.cmm.zju.edu.cn/">School of Medicine</a> at <a
                            href="https://www.zju.edu.cn/">Zhejiang University</a>.</p>
                </div>
                <div class="col-sm-4">
                    Contact:<br/>
                    Zijin'gang Campus, Zhejiang University<br/>
                    Hangzhou, China<br/>
                    (<a href="http://www.bigemap.net/city-10563.html">Maps</a>, <a
                        href="https://cn.bing.com/maps?q=%E6%B5%99%E5%A4%A7%E7%B4%AB%E9%87%91%E6%B8%AF%E5%9C%B0%E5%9D%80%E8%B0%B7%E6%AD%8C%E5%9C%B0%E5%9B%BE&qs=n&form=QBRE&sp=-1&pq=%E6%B5%99%E5%A4%A7%E7%B4%AB%E9%87%91%E6%B8%AF%E5%9C%B0%E5%9D%80gu%27ge%27di%27tu&sc=0-18&sk=&cvid=CC29417EB259490B8BD95A0AFF74804D">Directions</a>)
                </div>
                <div class="col-sm-4">
                    <a href=" " title="Visit tracker">
                        <img src="//www.clustrmaps.com/map_v2.png?d=od8oZoiIUuoIGUqv9kuEY_2s4oekikttLPt3Bog5MTc&cl=ffffff"/>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

