---
layout: default
---
<div id="talks" class="col-sm-12">
  {{ content }}
</div>

<ul>
  <li> 2020.06: Clinical Text Analysis and Mining using Artificial Intelligence. The University of British Columbia, Canada. </li>
  <li> 2020.04: Clinical Text Analysis and Mining using Artificial Intelligence. Peking University, China. </li>
  <li> 2020.04: Clinical Text Analysis and Mining using Artificial Intelligence. Zhejiang University, China. </li>
  <li> 2020.02: Clinical Text Analysis and Mining using Artificial Intelligence. Duke University, USA. </li>
  <li> 2020.02: Clinical Text Analysis and Mining using Artificial Intelligence. Brigham and Women's Hospital, Harvard Medical School, USA. </li>
  <li> 2020.02: Clinical Text Analysis and Mining using Artificial Intelligence. Boston College, USA. </li>
  <li> 2019.12:Natural Language Processing in Financial Analysis. Peking University, China. </li>
  <li> 2019.12:Natural Language Processing in Financial Analysis. Southwest University, China. </li>
  <li> 2019.09: Deep Learning for Sequence Labeling. Partners Healthcare Group; Boston, USA. <a href="papers/201909PartnersHealthcare_DeepLearning.pdf">[slides]</a></li>
  <li> 2018.11: Design of NCRF++: The Open-source Neural Sequence Labeling Toolkit. Westlake University(西湖大学); Hangzhou, China. <a href="papers/201811WestlakeUniv.pdf">[slides]</a></li>
  <li> 2018.11: Neural Networks in Natural Language Processing -- with POS/NER as an example. NUIST(南京信息工程大学); Nanjing, China. <a href="papers/201811NUIST.pdf">[slides]</a></li>

  <li> 2018.09: Recent Advances in Sequence Labeling. HLJU(黑龙江大学); Harbin, China. <a href="papers/201809HLJU.pdf">[slides]</a></li>
  <li> 2018.08: Design Challenges and Misconceptions in Neural Sequence Labeling. COLING 2018; Santa Fe, USA. <a href="papers/201808COLING.pdf">[slides by Shuailong]</a></li>
  <li> 2018.07: YEDDA: A Lightweight Collaborative Text Span Annotation Tool. ACL 2018; Melbourne, Australia. <a href="papers/201807ACL_YEDDA_poster.pdf">[poster]</a></li>
  <li> 2018.07: NCRF++: An Open-source Neural Sequence Labeling Toolkit. ACL 2018; Melbourne, Australia. <a href="papers/201807ACL_NCRF++_poster.pdf">[poster]</a></li>
  <li> 2018.07: Chinese NER Using Lattice LSTM. ACL 2018; Melbourne, Australia. <a href="papers/201807ACL_Lattice_LSTM.pdf">[poster]</a></li>
  <li> 2018.05: Lattice LSTM for Chinese Sequence Labeling. Tencent AL Lab (seattle); online. <a href="papers/201805TencentAI.pdf">[slides]</a></li>
  <li> 2017.11: Deep Learning for Chinese Word Segmentation. NJUST(南京理工大学); Nanjing, China. <a href="papers/201711NUST.pdf">[slides]</a></li>
  <li> 2017.09: Neural Reranking for Named Entity Recognition. RANLP 2017; Varna, Bulgaria.<a href="papers/201709RANLP.pdf">[slides]</a></li>
  <li> 2017.08: Neural Word Segmentation with Rich Pretraining. ACL 2017; Vancouver, Canada. <a href="papers/201708ACL.pdf">[slides]</a></li>
</ul>